<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
    <%
      // Using Current object (http://harpjs.com/docs/development/current) for navigation:
      // path length = current.path.length, 
      // path (array): = current.path, 
      // source: = current.source
      // Any js can go in here. Even console.log().
      
      // Draw Home link if we are in sub directory.
      if(current.path.length > 1 || (current.path.length == 1 && current.source != "index")){ %>
        <a href="/">Home</a>
      <% }
      // Draw the path link(s).
      for(var i = 0; i < current.path.length; i++){
        if(current.path[i] != 'index'){
          %>
          &#8680; <a href="/<%= current.path[i] %>"><%= current.path[i] %></a>
          <%
        }
      }
    %>
  </header>
    <%- yield %>
    <footer>
      <%- partial("_shared/footer") %>
    </footer>
  </body>
</html>