<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
      <%- partial("_shared/header") %>
    </header>
    <%- yield %>
    <footer>
    	Footer
    </footer>
  </body>
</html>